*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

target/classes
target/maven-archiver
target/surefire
target/dependency-reduced-pom.xml
target/original-spymemcached-ext-0.0.1.jar
target/original-xmemcached-ext-0.0.1.jar

.idea/
out/
spymemcached-ext.iml
src/main/Main.iml
